@tailwind base;
@tailwind components;
@tailwind utilities;

.campaign_cards-container {
  display: flex;
  gap: 12px;
}


.campaign_cards {
  width: 100%;
  display: flex;
  gap: 12px;
}


.flex-responsive {
  display: flex;
}

@media screen and (max-width: 1200px) {

  .campaign_cards {
    flex-direction: column;
  }

}

@media screen and (max-width: 1024px) {
  .flex-responsive {
    flex-direction: column;
  }
}

@media screen and (max-width: 580px) {
  .campaign_cards-container {
    flex-direction: column;
  }

  .campaign_cards {
    flex-direction: column;
  }

}


@media screen and (max-width: 500px) {
  .empty-chat-container{
    display: none;
  }

}

@media screen and (min-width: 500px){
  .chat-sidebar-container{
    display: flex;
  }
}


@layer base {
  :root {
    --background: 0, 0%, 96%;
    --background-secondary: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --button: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 70% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.3rem;
    /* custom */

    --primary-active: 227 100% 57%;
    --primary-foreground: 210 40% 98%;
    --profile: 0 0% 90%;
    --particles: 0 0% 95%;
    --dark: 0 0% 3.5%

  }

  .dark {
    --background: 0 0% 8%;
    --background-secondary: 0 0% 8%%;
    --foreground: 210 40% 98%;
    --button: 0 0% 8%;
    --card: 0 0% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 0 0% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 227 100% 57%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 0 0% 11%;
    --muted-foreground: 210 40% 98%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0% 8%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    
    /* custom */
    --primary-active: 227 100% 57%;
    --primary-foreground: 210 40% 98%;
    --particles: 217.2 32.6% 17.5%;
    --profile: 0 0% 11%;
    --dark: 0 0% 3.5%
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

audio::-moz-progress-bar {
  display: none;
}



#controlsToolbar {
  bottom: 35px;
  right: 35px;
  position: fixed;
  z-index: 99;
}

#mediaControls button {
  margin: 0 5px 7.5px;
  padding: 10px;
}

#mediaControls button:hover {
  border-color: #099DFD;
}


#endConnection {
  border-color: red;
  opacity: 50%;
}

#endConnection:hover {
  background-color: red;
  border-color: white;
  opacity: 100%;
}

#videoCallContainer{
  overflow: hidden;
  padding: 40px;
  width: 100vw;
  height: 100vh;
  background-color: black;
}


.remote-audio-container {
  position: relative;
  max-width: 1200px;
  min-width: 360px;
  overflow: hidden;
}

#audioCallContainer{
  overflow: hidden;
  padding: 40px;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

#localAudio {
  width: 50vw;
  aspect-ratio: 16/9;
  max-width: 480px;
  min-width: 360px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  margin: 0;
}

.remote-audio-container {
  position: relative;
  max-width: 1200px;
  min-width: 360px;
  overflow: hidden;
}

.mainContainer{
  width: 100vw;
  height: 100vh;
}


/* video call */

/* remote user */
.remoteVideoContainer{
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
}

.remote-video-container-mobile{
  aspect-ratio: 9/16;
  height: 100%;
}

.remote-video-container{
  border-radius: 6px;
  overflow: hidden;
  aspect-ratio: 9/5;
  width: 95%;
}

/* local video */

#localVideo {
  box-sizing: border-box;
  aspect-ratio: 16/9;
  min-width: 360px;
  border-radius: 6px;
  overflow: hidden;
  position: fixed;
  right: 25px;
  bottom: 25px;
  margin: 0;
}
